.log-body{
    margin-top: 8%;
    margin-left: 15%;
}


.left-log{
    background-color: rgb(228, 209, 209);

}

.log-head-r{
    font-size: 15px;
    width: 250px;
    
    margin-left: 20px;
    
}
.Otp-log-r{
    margin-left: 20px;
}

.otp-log-body{
    background-color: white;
    width: 250px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 2px  2px 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.otp-log-main{
    padding: 20px;

}

.label-text{
    margin-bottom: 5px;
}

.input-log{
    height: 30px;
}

.btn-otp-l{
    float: left;
    margin-top: 14px;
}
.btn-otp-l button{
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 600px;
}
.btn-otp-r{
    float: right;
    margin-top: 14px;
}
.btn-otp-r button{
    float: right;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600px;
    background-color: rgb(0, 196, 65);
    width: 90px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    
}


.otp-log-btn{
    background-color: #00569F;
    border:none;
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    color: white;
    margin-top: 100px;
}










